@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This web app does nothing but validate player info. 
    <a asp-controller="Player" asp-action="Create">Go there</a>
    </p>
</div>
