@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
<p>Go to <a asp-controller="Student" asp-action="Index">student crud</a></p>
</div>
